<div class="flex flex-col items-center w-full max-w-2xl text-center mb-16">
                <p class="text-[#080808] font-raleway text-[40px] font-black leading-none">My projects</p>
                <p class="text-[#484848] ibm text-[16px] font-normal leading-relaxed tracking-wide mt-5">These are some projects I’ve built during school and in my free time. I love turning ideas into code, learning new tools, and solving real problems. Each project shows a bit of my passion and progress.</p>
            </div>
            
            <div class="w-full flex flex-col gap-24 pb-12">
                <div class="project1 flex items-center justify-between w-full gap-12">
                    <div class="text w-1/2">
                        <div class="inline-flex px-3.5 py-1 items-center rounded-full bg-[#FFF6E9] mb-4"><p class="text-[#FFA217] ibm text-[12px] font-bold uppercase tracking-wider">Analysis</p></div>
                        <p class="text-[#080808] raleway text-[26px] xl:text-[30px] font-black leading-tight mb-4">Job related AI Bias - ImGen</p>
                        <p class="text-[#666666] ibm text-[15px] font-normal leading-relaxed mb-6">I built a website to show how image-generating AIs can reflect bias. I tested different prompts and compared results, noticing patterns in gender, race, and stereotypes. The site includes examples and short reflections on what I found.</p>
                        <div id="jobAI" class="hover:scale-105 transition-transform duration-300 cursor-pointer inline-flex items-center gap-2.5 px-6 py-3 rounded bg-[#FFA217] shadow-[0_8px_30px_rgba(255,162,23,0.25)]"><input class="text-white ibm text-[15px] font-bold cursor-pointer bg-transparent outline-none" type="button" value="Visit site"><img src="static\media\images\vector.png" class="w-3.5 h-auto" alt="arrow"></div>
                    </div>
                    <div class="w-1/2 flex justify-end">
                        <img src="static\media\images\projDesk1.png" class="w-full max-w-md xl:max-w-xl object-contain shadow-xl rounded-2xl" alt="Project 1">
                    </div>
                </div>

                <div class="project2 flex flex-row-reverse items-center justify-between w-full gap-12">
                    <div class="text w-1/2">
                        <div class="inline-flex px-3.5 py-1 items-center rounded-full bg-[#D0E6FF] mb-4"><p class="text-[#000AFF] ibm text-[12px] font-bold uppercase tracking-wider">Education</p></div>
                        <p class="text-[#080808] raleway text-[26px] xl:text-[30px] font-black leading-tight mb-4">Linear Regression - AI & ML</p>
                        <p class="text-[#666666] ibm text-[15px] font-normal leading-relaxed mb-6">I followed a guided project to learn linear regression with Python and scikit-learn, aiming to predict a child’s height based on the parent’s height. I learned how to prepare data, train a model, and check its accuracy. </p>
                        <a class="inline-block" href="static\media\docs\linear_regressionML.ipynb" download><div class="hover:scale-105 transition-transform duration-300 inline-flex items-center gap-2.5 px-6 py-3 rounded bg-[#000AFF] shadow-[0_8px_30px_rgba(0,10,255,0.25)]"><input id="pyML" class="text-white ibm text-[15px] font-bold cursor-pointer bg-transparent outline-none" type="button" value="View documentation"><img src="static\media\images\vector.png" class="w-3.5 h-auto" alt="arrow"></div></a>
                    </div>
                    <div class="w-1/2 flex justify-start">
                        <img src="static\media\images\projDesk2.png" class="w-full max-w-md xl:max-w-xl object-contain shadow-xl rounded-2xl" alt="Project 2">
                    </div>
                </div>

                <div class="project3 flex items-center justify-between w-full gap-12">
                    <div class="text w-1/2">
                        <div class="inline-flex px-3.5 py-1 items-center rounded-full bg-[#E0FFF8] mb-4"><p class="text-[#2AB090] ibm text-[12px] font-bold uppercase tracking-wider">Entertainment</p></div>
                        <p class="text-[#080808] raleway text-[26px] xl:text-[30px] font-black leading-tight mb-4">Whack a Mole - PC Game</p>
                        <p class="text-[#666666] ibm text-[15px] font-normal leading-relaxed mb-6">I made a Whack-a-Mole game using HTML, CSS, and JavaScript. It was a fun way to learn how to handle clicks and use timers. The game is simple, fast, and enjoyable. Hopefully, it’ll receive some updates soon!</p>
                        <div id="wam" class="hover:scale-105 transition-transform duration-300 cursor-pointer inline-flex items-center gap-2.5 px-6 py-3 rounded bg-[#2AB090] shadow-[0_8px_30px_rgba(42,176,144,0.25)]"><input class="text-white ibm text-[15px] font-bold cursor-pointer bg-transparent outline-none" type="button" value="Play now"><img src="static\media\images\vector.png" class="w-3.5 h-auto" alt="arrow"></div>
                    </div>
                    <div class="w-1/2 flex justify-end">
                        <img src="static\media\images\projDesk3.png" class="w-full max-w-md xl:max-w-xl object-contain shadow-xl rounded-2xl" alt="Project 3">
                    </div>
                </div>
            </div>