<script src="https://cdn.tailwindcss.com"></script>
<div class="pfpCircle bg-[#080808] w-[45px] h-[45px] flex justify-center items-center rounded-full active:scale-[1.1] transition-transform duration-300 lg:hidden">
    <a href="#"><img src="static\media\images\logo.png" class="pfp w-[24px] h-[24px]" alt="pfp"></a>
</div>
<div class="relative flex justify-end lg:hidden">
    <div id="menuBox" class="menuBox flex flex-col justify-between items-end w-[30px] h-[24px] cursor-pointer z-50">
        <div class="bar bar1 w-full h-[3px] bg-white rounded transition-all duration-300"></div>
        <div class="bar bar2 w-full h-[3px] bg-white rounded transition-all duration-300"></div>
        <div class="bar bar3 w-full h-[3px] bg-white rounded transition-all duration-300"></div>
    </div>

    <nav id="menu" class="gap-[20px] fixed w-full left-0 top-[70px] p-6 hidden flex-col h-[calc(100vh-70px)] bg-gradient-to-b from-[#080808] to-[#111111] z-40 shadow-2xl">
        <div class="redirItem flex items-center justify-between">
            <a href="#features"><p class="text-[#9C9C9C] raleway text-[24px] font-extrabold">Progetti</p></a>
            <div class="social flex gap-[15px]">
                <a href="https://github.com/FrancescoScanni"><img src="static\media\images\GitHub.png" alt="GitHub"></a>
                <a href="https://instagram.com/francesco.scanni_"><img src="static\media\images\Gmail.png" alt="Gmail"></a>
                <a href="https://www.linkedin.com/in/francesco-scanni-441605351/"><img src="static\media\images\LinkedIn.png" alt="LinkedIn"></a>
            </div>
        </div>

        <div class="redirItem flex items-center mt-2">
            <a href="#features"><p class="text-[#9C9C9C] raleway text-[24px] font-extrabold">Articoli</p></a>
        </div>

        <div class="redirItem flex items-center mt-2">
            <a href="#features"><p class="text-[#9C9C9C] raleway text-[24px] font-extrabold">Feedback</p></a>
        </div>
    </nav>
</div>

<div class="hidden lg:flex lg:gap-[50px] xl:gap-[70px] items-center">
    <a href="#mySection" onclick="scrollWithOffset(event, 'mySection')"><p class="text-[#9C9C9C] hover:text-white transition-colors ibm text-[14px] tracking-[0.14px]">Chi sono</p></a>
    <a href="#content"><p class="text-[#9C9C9C] hover:text-white transition-colors ibm text-[14px] tracking-[0.14px]">Progetti</p></a>
    <a href="#art"><p class="text-[#9C9C9C] hover:text-white transition-colors ibm text-[14px] tracking-[0.14px]">FSL</p></a>
    <a href="#cont"><p class="text-[#9C9C9C] hover:text-white transition-colors ibm text-[14px] tracking-[0.14px]">Contatti</p></a>
</div>
<div class="hidden lg:flex lg:gap-[20px] items-center">
    <a href="https://github.com/FrancescoScanni" class="hover:scale-110 transition-transform duration-200"><img src="static\media\images\GitHub.png" alt="GitHub"></a>
    <a href="https://instagram.com/francesco.scanni_" class="hover:scale-110 transition-transform duration-200"><img src="static\media\images\Gmail.png" alt="Gmail"></a>
    <a href="https://www.linkedin.com/in/francesco-scanni-441605351/" class="hover:scale-110 transition-transform duration-200"><img src="static\media\images\LinkedIn.png" alt="LinkedIn"></a>
</div>
