.bar{
  background-color: #484848;
  height: 3px;
}
#menuBox{
  width: 36px;
  height: 30px;
}



.open .bar {
    transform: scale(0.8);
    height: 5px;
}
@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutSlow {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.show {
  display: flex !important;
  animation: fadeInSlow 0.6s ease forwards;
}
.hide {
  animation: fadeOutSlow 0.6s ease forwards;
}