<div class="flex items-center justify-between border-b pb-2 cursor-pointer">
                    <div class="featSet raleway font-black text-[20px] flex items-center">Feedback <img src="static\media\images\Contacts.png" class="ml-[8px] w-[24px] h-[24px]" alt="Contact"></div>
                    <img src="static\media\images\vector1.png" class="vector w-4 h-4" id="vec3" alt="arrow">
                </div>

                <div class="contentFeed w-full flex justify-center items-center py-6">
                    <p class="w-full text-[#484848] text-[13px] font-bold raleway text-center">This section is empty for now</p>
                </div>