<div class="flex items-center justify-between border-b pb-2 cursor-pointer">
    <div class="featSet raleway text-[20px] font-black flex items-center">Projects <img src="static\media\images\Idea.png" class="ml-[8px] w-[24px] h-[24px]" alt="Idea"></div>
    <img src="static\media\images\vector1.png" id="vec1" class="vector w-4 h-4" alt="arrow">
</div>

<div class="contentProj w-full pt-4">
    <p class="descProj w-full text-[#484848] text-[12px] font-normal leading-relaxed ibm mb-6">These are projects I’ve built in school and in my free time. I enjoy turning ideas into code and learning tools. Each one shows a bit of my passion and growth.</p>
    <div class="projSet flex flex-col gap-6 items-center w-full">
        <div class="proj flex justify-between items-center w-full bg-gray-50 p-4 rounded-xl shadow-sm gap-4">
            <div class="textSet flex flex-col justify-center w-[65%]">
                <div class="rounded-full bg-[#FFF6E9] px-2.5 py-0.5 w-max mb-2"><p class="text-[#FFA217] text-[10px] font-bold ibm uppercase">Analysis</p></div>
                <p class="text-[#080808] text-[16px] raleway font-black leading-tight mb-1">Job related AI Bias</p>
                <p class="text-[#484848] text-[11px] font-normal leading-relaxed ibm mb-2">A site that explores how image AIs can show bias. I tested prompts and noticed patterns in gender, race, and stereotypes. The site includes visuals and brief reflections.</p>
                <a href="https://francescoscanni.github.io/Job-Bias-Analysis-AI/"><p class="text-[#FFA217] text-[12px] italic raleway font-semibold underline">Visit site</p></a>
            </div>
            <div class="imgSet w-[35%] flex justify-center"><img src="static\media\images\projMobile1.png" class="max-h-[100px] max-w-full object-contain rounded-lg" alt="Proj1"></div>
        </div>

        <div class="proj flex flex-row-reverse justify-between items-center w-full bg-gray-50 p-4 rounded-xl shadow-sm gap-4">
            <div class="textSet flex flex-col items-end text-right justify-center w-[65%]">
                <div class="rounded-full bg-[#D0E6FF] px-2.5 py-0.5 w-max mb-2"><p class="text-[#000AFF] text-[10px] font-bold ibm uppercase">Education</p></div>
                <p class="text-[#080808] text-[16px] raleway font-black leading-tight mb-1">Linear Regression ML</p>
                <p class="text-[#484848] text-[11px] font-normal leading-relaxed ibm mb-2">I followed a project to learn linear regression with Python. I trained a model to predict a child’s height from a parent’s, using scikit-learn and basic data prep.</p>
                <a href="static\media\docs\linear_regressionML.ipynb" download><p class="text-[#000AFF] text-[12px] italic raleway font-semibold underline">View docs</p></a>
            </div>
            <div class="imgSet w-[35%] flex justify-center"><img src="static\media\images\projMobile2.png" class="max-h-[100px] max-w-full object-contain rounded-lg" alt="Proj2"></div>
        </div>

        <div class="proj flex justify-between items-center w-full bg-gray-50 p-4 rounded-xl shadow-sm gap-4">
            <div class="textSet flex flex-col justify-center w-[65%]">
                <div class="rounded-full bg-[#E0FFF8] px-2.5 py-0.5 w-max mb-2"><p class="text-[#2AB090] text-[10px] font-bold ibm uppercase">Entertainment</p></div>
                <p class="text-[#080808] text-[16px] raleway font-black leading-tight mb-1">Whack a Mole - Game</p>
                <p class="text-[#484848] text-[11px] font-normal leading-relaxed ibm mb-2">I made a Whack-a-Mole game with HTML, CSS, and JS. It helped me learn clicks, timers, and simple game logic. It’s quick, fun, and might get updates soon!</p>
                <a href="https://francescoscanni.github.io/Whack-a-Mole-Game/"><p class="text-[#2AB090] text-[12px] italic raleway font-semibold underline">Play now</p></a>
            </div>
            <div class="imgSet w-[35%] flex justify-center"><img src="static\media\images\projMobile3.png" class="max-h-[100px] max-w-full object-contain rounded-lg" alt="Proj3"></div>
        </div>
    </div>
</div>